.pageHeader {
    flex-basis: 16%;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 27%;
    flex-wrap: wrap ;
    border: 1px dotted black;
    padding: 0.2em;
    text-align: left;
}